{% import 'partial/icons.twig' as icons %}

{% set list_class = list_class|default('main-nav') %}
{% set child_class = child_class|default('subnav') %}
{% set social = social|default(false) %}

{% if items %}
  <ul class="{{ list_class }}">
    {% for item in items %}
      {% set children = item.children ? : [] %}
      <li
        class="{{ item.class|default('') }} {{
        children
          ? 'has-dropdown'
          : ''
        }}"
      >
        {% if social %}
          <a href="{{ item.link }}" aria-label="{{ item.title }}">
            {{ icons.social(item.title, item.link) }}
          </a>
        {% else %}
          <a href="{{ item.link }}"><span>{{ item.title }}</span></a>
        {% endif %}
        {% if children %}
          <div class="drop">
            {% include 'partial/menu.twig' with {
              items: children,
              list_class: child_class,
              child_class: child_class,
              social: social
            } only %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
